body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.two-col{
    display: flex;
    width: 60%;
    margin: auto;
}

header, main, section, article{
    /* border: 1px solid black; */
    margin: 4px;
}

.two-col article{
    flex:1;
}