body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.cat{
    text-align: center;
}

.two-col{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

header, main, section, article{
    /* border: 1px solid black; */
    margin: 4px;
}

.two-col article{
    flex:1;
}

/* For Desktop */
@media only screen and (min-width: 768px){
    .two-col{
        width: 60%;
        flex-direction: row;
    }

}